.container {
  width:450px;
  margin:100px auto 0 auto;
}

.row {
  overflow:hidden;
}

.tic-cell {
  width:150px;
  height:150px;
  text-align:center;
  padding:55px;
  float:left;
  border:#000 1px solid;
  box-sizing:border-box;
  font-family:sans-serif;
  font-size:2em;
}
